<%=render "nav"%>
<div class="container">
  <h1 class="header">Blog Posts</h1>
<% if @post.each do |post| %>
  <div class="post">
    <h4> <%= post.title%> </h4>
    <p> <%= post.description.html_safe%> </p>
    <%= link_to 'read more', post%>
  </div>
<%end.empty?%>
  <p class="flash error">Sorry, we have no posts yet</p>
<%end%>
