/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
}
.flash {
  margin: 5px;
  padding: 5px;
  font-size: 0.75em;
  font-family: Monospace Serif;
}
.error {
  color: darken(red, 10%);
  background-color: lighten(red, 10%);
  border: 3px solid lighten(red, 5%);
}
.notice {
  color: darken(green, 10%);
  background-color: lighten(green, 10%);
  border: 3px solid lighten(green, 5%);
}
.container {
  width: 80%;
  margin: 5px auto;
}
.post{
  h4{
    font-family: Serif;
    font-size: 1.25em;
    padding: 2px;
    margin: 5px;
  }
  p{
    font-family: Sans-serif;
    font-size: 0.875em;
    
  }
}
