/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
}
.postnav{
  width: 90%;
  background-color: lighten(black, 15%);
  margin: 5px auto;
  padding: 5px;
  vertical-align: middle;
  .navul{
    margin: 0px;
  }
  ul{
    list-style: none;
    li{
    display: inline-block;
    vertical-align: middle;
      a{
        padding: 5px;
        text-decoration: none;
        color: darken(white, 10%);
        vertical-align: middle;
      }
      a:hover{
        background-color: lighten(black, 5%);
        color: darken(white, 5%);
        font-weight: bold;
      }
    }
  }
}
.header{
  text-align: center;
  border-bottom: 1px solid darken(gray, 10%);
  padding: 5px;
}
.hleft{
  text-align: left;
}
.flash {
  margin: 5px;
  padding: 5px;
  font-size: 1.5em;
  font-family: Monospace Serif;
  text-align: center;
}
.error {
  color: darken(red, 10%);
  background-color: lighten(red, 30%);
  border: 3px solid darken(red, 10%);
}
.notice {
  color: darken(green, 10%);
  background-color: lighten(green, 10%);
  border: 3px solid lighten(green, 5%);
}
.container {
  width: 80%;
  margin: 5px auto;
}
.post{
  h4{
    font-family: Serif;
    font-size: 1.875em;
    padding: 2px;
    margin: 5px;
  }
  p{
    font-family: Sans-serif;
    font-size: 1.5em;
    line-height: 120%;
    margin: 5px;
    margin-bottom: 10px;
  }
  .btn{
    background-color: lighten(black, 20%);
    text-decoration: none;
    color: lighten(white, 20%);
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    margin-top: 5px;
  }
  .btn:hover{
    background-color: lighten(black, 5%);
    color: lighten(white, 10%);
  }
  .btn:active{
    background-color: black;
    color: white;
  }
}
